[2017-04-06 09:58] grenzr opened #1 "'bosh create release' fails with 404 error when downloading blobs"
On attempting to create a local tarball of the official minio bosh release using `bosh create release releases/minio/minio-2.yml --with-tarball`, we couldnt download the blobs as it returned:

[code]

[2017-04-07 19:27] donatello commented on #1
Thank you for reporting the issue. We are working on resolving this ASAP.

[2017-04-08 08:58] donatello commented on #1
@grenzr We migrated our blob-storage to CloudFoundry's community S3 account now. This issue is now resolved.

[2017-04-08 08:58] #1 closed

[2017-04-08 09:04] donatello opened #2 "Support to use Minio as blobstore in Bosh"
Minio can be a blobstore alternative for Bosh.

[2017-04-10 09:10] grenzr commented on #1
Hi guys,

Thanks for looking into this for us, although trying the same thing again now shows a 403 error.

Any chance you can make this bucket public readable?

Thanks,

Ryan

[2017-04-10 09:12] grenzr opened #3 "403 error when attempting to create local BOSH release tarball"
[code]

[2017-04-10 10:53] donatello commented on #3
@grenzr I just made the bucket public for downloads. Could you please confirm if it works for you?

[2017-04-10 10:56] donatello commented on #1
@grenzr

Done. Please let me know if there are any more issues.

[2017-04-10 13:32] grenzr commented on #3
@donatello Well, the 403 error has gone away, but now its back to being a 404 again:

[code]

[2017-04-10 15:13] donatello commented on #3
@grenzr Sorry for the multiple issues - I believe they are fixed now. I have cleaned out and re-uploaded the blobs. Earlier, my testing was not correct because bosh was picking up stuff from the settings used to create the release.

Now, with docker I am able to test successfully like this:

[code]

Please let me know if issues persist. Thank you for trying it out!

[2017-04-11 04:15] harshavardhana commented on #2
You can open this bug on minio/minio instead. As this is considered high priority now as part of ecosystem work.

[2017-04-11 07:26] donatello commented on #2
Opened here https://github.com/minio/minio/issues/4089 - closing this issue.

[2017-04-11 07:26] #2 closed

[2017-04-11 08:15] grenzr commented on #3
@donatello yay.. that worked thank you :)

[2017-04-11 08:15] #3 closed

[2017-04-18 15:17] rkoster opened #5 "411 Length Required when trying to use minio as Cloud Foundry Blobstore"
I have configure cloud foundry with the following ops file:
[code]

And I get the following error message in the post-start log from the cloud-controller:
[code]

[2017-04-19 08:48] rkoster commented on #5
Was able to reproduce the issue with plain `fog` by following the [code path from the Cloud Controller](https://github.com/cloudfoundry/cloud_controller_ng/blob/master/lib/cloud_controller/blobstore/fog/fog_client.rb#L57-L73):
[code]

Also found a potential fix:
[code]

[2017-04-19 09:36] rkoster commented on #5
above 'fix' is just setting the body to the path string

[2017-04-19 09:53] rkoster commented on #5
When setting `ENV['EXCON_DEBUG'] = '1'`:

working request with `body: 'foo'`
[code]

failed request with `body: File.open('/tmp/foo')`
[code]

[2017-04-19 12:33] rkoster commented on #5
Fixed by switching to `aws_signature_version: 2`

[2017-04-19 12:33] #5 closed

[2017-04-21 22:49] donatello commented on #5
@rkoster The signature issue that you had is fixed in current master of Minio, and the next release would have the fix.

Do you happen to have tried using Minio as a blobstore for BOSH? I would like to add this support or document this if it is already possible. Any pointers would be welcome.

[2017-04-22 15:01] rkoster commented on #5
I'm currently working on [using minio as blobstore for Cloud Foundry](https://github.com/cloudfoundry/cf-deployment/pull/132) It almost works. Blobstore support for BOSH is probably less usefull at this point since the BOSH director is still a single point of failure, so even with minio your BOSH would still not be HA. But with switching CF to use minio we would be able to eliminate the last SPF f

[2017-04-26 09:58] rkoster opened #6 "Provide a health_check script"
When using minio with CF, it is usefull to register a route for it with the gorouter.
For this the routing release provides the [route_registrar](https://github.com/cloudfoundry-incubator/routing-release/tree/develop/jobs/route_registrar) job. For the best result the `route_registrar` should be configured with a `health_check` script.

The CF UAA is [for example](https://github.com/cloudfoundry/cf

[2017-08-01 17:48] deekoder opened #7 "Update release tag to the latest minio package"

[2017-08-04 13:09] donatello commented on #7
This is fixed. Last two releases have been added as well as a table of releases in the readme.

[2017-08-04 13:09] #7 closed

[2017-08-09 11:49] mkuratczyk opened #8 "Could you publish releases"
Hey. Would it be possible to publish the releases (.tgz files) on GH and/or bosh.io/releases?

[2017-08-09 22:33] poornas commented on #8
@mkuratczyk , attaching the latest release here. We will be submitting this to https://bosh.io/releases soon. We would love to pick your brain on how you use minio-boshrelease for your workflow. If you have a few minutes to jump on a call with us , or drop by (we are in Palo Alto,CA) it would  help us understand how we can improve this package further to align with typical usage by cloudfoundry us

[2017-08-10 09:16] mkuratczyk commented on #8
Thank you. I had built the release myself before raising the issue - it's ok as a one-off solution. However, we want to mirror all used BOSH releases to a local Artifactory and currently there is no-where to mirror minio-boshrelease from. Feel free to contact me regarding how we are using Minio.

[2017-08-10 21:25] poornas commented on #8
@mkuratczyk , would you be able to spare 20 minutes tomorrow for a quick call? If you could join us on https://slack.minio.io, we can set up a call. Thanks!

[2017-08-15 23:09] krishnasrinivas opened #9 "Skeleton repository for service broker"
commit github repo with:
  - signature-v4 files
  - skeleton tree structure to write broker and agent

(assign to @krishnasrinivas)

[2017-08-15 23:11] krishnasrinivas opened #10 "Implement broker and agent"
implement broker and agent and integrate into the service broker repo.

(assign to @poornas)

[2017-08-16 01:32] krishnasrinivas commented on #6
thanks @rkoster we'll provide a health_check script just like https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/templates/health_check

We'd be happy to receive a PR too.

[2017-08-17 21:58] nitisht opened #11 "Review manifest files"
`manfest-fs.yaml` and `manifest-dist-4node.yaml` needs to be renamed to `manfest-fs-example.yaml` and `manifest-dist-example.yaml`

- Needs to be reviewed to update the file names and check hard coded values.
- Review yhy multiple IPs in fs, BOSH
- Explore if both files can be merged

[2017-08-31 01:46] krishnasrinivas commented on #10
Implemented

[2017-08-31 01:46] #10 closed

[2017-08-31 01:46] krishnasrinivas commented on #9
Implemented

[2017-08-31 01:46] #9 closed

[2017-08-31 01:49] krishnasrinivas commented on #8
@mkuratczyk it is available here https://github.com/minio/minio-boshrelease/releases, it will also be available bosh.io/releases soon

[2017-08-31 07:07] mkuratczyk commented on #8
Great, thank you.

[2017-08-31 07:07] #8 closed

[2017-09-11 21:40] poornas commented on #8
@mkuratczyk, minio-boshrelease is now available on http://bosh.io/releases

[2017-10-06 09:04] Fydon opened #14 "Github Release for each BOSH Release"
This allow someone to subscribe to releases on Github and so notice when a new release is available.

[2017-10-06 09:11] donatello commented on #14
// CC: @krishnasrinivas @harshavardhana - please add the latest release on github.

[2017-10-10 19:18] krishnasrinivas commented on #14
you can download minio bosh-release from http://bosh.io/releases/github.com/minio/minio-boshrelease?all=1 @Fydon

[2017-10-10 19:35] krishnasrinivas commented on #11
file names can be made as manfest-fs-example.yaml and manifest-dist-example.yaml
Also there is no hardcoding now, can you check.

IPs are removed from the manifest files now, as it is assigned automatically by bosh director

[code]
this is the only differing line because of which it can't be merged

[2017-10-10 21:17] Fydon commented on #14
@krishnasrinivas Thank you. I'm aware of the fact that I can download from bosh.io, but I'm not aware of a way to be notified of new releases made available on bosh.io. Therefore I currently subscribe to Github releases for all the BOSH releases that I use. Do you know of another way to be notified of new releases?

[2017-10-10 23:50] krishnasrinivas commented on #14
OK, I just mentioned in case you were looking to download the bosh-release from the github repo. If you are just looking for notification sure you can use github releases.

[2017-10-11 21:55] krishnasrinivas opened #18 "Script release creation process"
Instructions mentioned in https://github.com/minio/minio-boshrelease/blob/master/MAINTAINERS.md should be scripted.

[2017-10-12 23:07] krishnasrinivas opened #19 "Config file is lost after reboot"
If user sets config file using `mc admin set config` and the machine is rebooted then the config file is lost as it currently is stored in `CONFIG_DIR=/var/vcap/jobs/minio-server/config` which is not persistent. we need to store the config file in /var/vcap/store/ which is persistent.

[2017-10-23 19:34] #19 closed

[2017-11-01 00:34] #11 closed

[2017-11-01 06:26] #6 closed

[2017-11-01 10:18] rkoster commented on #6
🎉

[2017-12-13 14:01] Ykisialiou opened #29 "Small typo in manifest name"
Hello. I've just found a small typo,
manifests/manfest-fs-example.yaml istead of manifests/manifest-fs-example.yaml, which I beleive should there.

[2017-12-13 14:17] nitisht commented on #29
Thanks for reporting @Ykisialiou

[2018-01-03 06:03] harshavardhana opened #30 "Publish new minio releases"
RELEASE.2017-12-28T01-21-00Z
RELEASE.2018-01-02T23-07-00Z

Tags are missing

[2018-01-03 06:03] harshavardhana commented on #18
are you still working on this @krishnasrinivas ?

[2018-01-03 06:16] krishnasrinivas commented on #18
yes @harshavardhana

[2018-01-03 20:01] krishnasrinivas commented on #30
@harshavardhana bosh2 fails with:
[code]

https://pivotal.minio.io:9000/ cert has got outdated?

[2018-01-03 21:33] harshavardhana commented on #30
Yes

[2018-01-18 03:25] kannappanr commented on #30
Closing this issue as fixed.

[2018-01-18 03:25] #30 closed

[2018-01-30 03:18] shaun7pan opened #40 "the bosh release of version 2018–01–18T20–33–21Z"
Hi,

There is new minio RELEASE.2018–01–18T20–33–21Z announced which includes critical security fix. We are using bosh to deploy minio. May I know the plan when we can expect the bosh release version could be published ? thanks.

Best regards
Shaun

[2018-01-30 04:33] harshavardhana commented on #40
We will soon update. Thanks for letting us know

[2018-01-31 03:21] krishnasrinivas commented on #40
fixed by https://github.com/minio/minio-boshrelease/pull/41

[2018-01-31 03:21] #40 closed

[2018-01-31 20:49] krishnasrinivas commented on #29
Looks like this is already fixed: https://github.com/minio/minio-boshrelease/blob/master/manifests/manifest-fs-example.yml

[2018-01-31 20:49] #29 closed

[2018-02-02 04:27] shaun7pan opened #42 "Issue when upgrading minio bosh release"
Hi Team,

Greetings. We are having 4 nodes minio distributed cluster installed using bosh v1. now we are facing issue when upgrading minio bosh release from 2017-11-22T19-55-46 to 2018-01-18T20-33-21Z. Error message is shown as below. There is no issue if we do fresh bosh deploy directly.

The bosh version we are using is `BOSH 1.3262.26.0`
[code]

[2018-02-02 05:06] krishnasrinivas commented on #42
@shaun7pan thanks for reporting, we are taking a look.

[2018-02-02 05:07] krishnasrinivas commented on #42
@shaun7pan Does the server come up after sometime? Or does the minio server never comes up?

[2018-02-02 05:14] shaun7pan commented on #42
No, the error result in server stuck in `failing` state. We try to bring it back through `bosh cck` but never succeed.

[2018-02-02 05:21] krishnasrinivas commented on #42
Looks like bosh rolling upgrade does not happen till the first server comes up. Can you ssh into all the machines and issue `reboot`?

[2018-02-02 06:28] shaun7pan commented on #42
try to run `monit start` get the same error.
[code]

[code]

[2018-02-02 06:52] krishnasrinivas commented on #42
did you reboot the servers? is this your production setup? or can it be fixed later?

[2018-02-02 06:58] shaun7pan commented on #42
I did reboot as well but the same error happened.  This is our lab minio cluster server.

[2018-02-02 07:04] krishnasrinivas commented on #42
:+1: I am assuming it's a test setup then.

A workaround to fix the problem is, ssh into the servers where old binary is running and replace `/var/vcap/packages/minio/minio` with latest minio binary (https://dl.minio.io/server/minio/release/linux-amd64/) And then kill the minio process (kill -9 PID) and allow the monit to start the process again. That should fix it for now.

[2018-02-02 07:10] krishnasrinivas commented on #42
Do not forget to chmod +x minio after downloading

[2018-02-02 09:54] shaun7pan commented on #42
@krishnasrinivas Thanks a lot for your support. It fixed the issue. Just update what I have done here for the reference.

1. Manually download the binary to the other 3 nodes under the path `/var/vcap/packages/minio/minio` and `chmod +x minio` (the first node binary had already been updated during the bosh upgrade deployment failure)

2. SSH into each node and do `monit stop minio-server`. Confirm

[2018-02-15 00:15] krishnasrinivas commented on #42
Fixed in the latest release. https://github.com/minio/minio-boshrelease/pull/43

[2018-02-15 00:15] #42 closed

[2018-02-26 14:26] haydonryan opened #45 "Can we expose using shared NFS via Bosh"
I found that you mention the possibility of using NFS as a backing store for Minio.

https://github.com/minio/minio/blob/master/docs/shared-backend/DESIGN.md

I foresee a use case where I could use my Synology Nas as a backing store for my home lab since there is no s3 capability on the NAS itself.

It would be amazing to be able to do this!

Thanks in advance.

[2018-02-26 19:01] krishnasrinivas commented on #45
We will add a job for NFS @haydonryan

Till then you can use `minio-server` job to expose NFS. i.e you just need the minio-server's directory to be a NFS mount point.

[2018-02-26 19:04] haydonryan commented on #45
That'd be great, Thankyou!

I'm not sure how to actually achieve that mount point in bosh - will do a bit of research....

[2018-02-28 20:08] krishnasrinivas commented on #45
@haydonryan I am unable to find a BOSH document which explains how to mount a NFS export into a bosh instance. Can you check in BOSH channel? Once you figure that out you can just use `minio-server` job to use the NFS mount point.

[2018-03-01 15:29] haydonryan commented on #45
Not a Problem. Turns out my Synology NAS (which Is why I posted this originally) is x86 based, and the Linux binary runs without modification, which has solved my problem for now. Will write it up into a blog post at some point.  Will close this.

If you do want to ask questions on bosh @krishnasrinivas jump on slack and head over to the #bosh channel at cloudfoundry.slack.com

[2018-03-30 07:08] harshavardhana opened #49 "Update bosh release to latest minio"

[2018-04-05 05:52] abhilash07 opened #50 "Minio object storage for application data"
Hi is everyone tried to deploy Minio on CF Market place using on-Demand-Broker and Service Adapter or
as Cloud Foundry Blobstore.
Thanks in Advance.
Abhilash S

https://www.minio.io/cloudfoundry.html

[2018-04-05 06:41] krishnasrinivas commented on #50
@abhilash07 yes I have tried and it works. If you are facing any issues let us know.

[2018-04-05 06:49] abhilash07 commented on #50
@krishnasrinivas thanks for you information.

[2018-04-05 06:52] krishnasrinivas commented on #50
you dont need yaml file when you use tile @abhilash07 check the docs here https://docs.pivotal.io/partners/minio/index.html for Minio Tile

[2018-04-05 09:01] cppforlife commented on #49
+1

[2018-04-05 09:03] cppforlife opened #51 "smoke-tests job"
would be nice to have an errand job so that it's easy to verify that system is working properly. see example for smoke-test in https://github.com/cppforlife/zookeeper-release#zookeeper-bosh-release

[2018-04-06 23:15] krishnasrinivas commented on #51
@cppforlife smoke-tests will be good to have. Thanks for the pointer to the zookeeper bosh release. We'll have have smoke tests soon.

[2018-04-13 00:56] abhilash07 commented on #51
@cppforlife, @krishnasrinivas hope this will helpfull for you.

https://github.com/shinji62/minio-dist-boshrelease/tree/master/jobs/smoke-tests

[2018-04-13 00:58] abhilash07 commented on #50
@krishnasrinivas what is the stemcell version you used for deploying on pivotal. i am encountering below error for on on-demand-service-broker-0.20.0.

<img width="1421" alt="screen shot 2018-04-13 at 9 37 44 am" src="https://user-images.githubusercontent.com/10971841/38711544-3c8eae0c-3f01-11e8-9723-60aecc717777.png">

[2018-04-13 08:54] CAFxX opened #54 "Missing drain script"
The boshrelease should have a drain script to delay (or abort) the deploy if shutting down the current node would cause the cluster to become unavailable.

[2018-04-13 08:56] CAFxX opened #55 "Minio cluster deployed using this release does not self-heal"
[After the deploy is complete](https://bosh.io/docs/post-deploy.html) minio should automatically self-heal.

[2018-04-13 08:57] CAFxX commented on #49
+1

[2018-04-13 14:01] harshavardhana commented on #55
Minio doesn't self heal - you need to heal manually. Using `mc admin heal`

[2018-04-13 14:12] CAFxX commented on #55
@harshavardhana sure, I know that. But the given post-deploy hook I linked above it should be pretty easy to implement a script that, once the deploy is over, triggers `mc admin heal`, thereby "self-healing" the minio cluster.

When eventually minio will evolve a bit and grow proper self-healing then what I'm proposing here won't be needed anymore - but until then...

[2018-04-13 15:13] harshavardhana commented on #55
We won't be doing self-healing in Minio - we intentionally didn't implement it.  So a script based is perhaps okay.

[2018-04-13 20:25] krishnasrinivas commented on #50
@abhilash07 you will need to use :

stemcell_criteria:
  os: 'ubuntu-trusty'
  version: ' 3468.17'

let us know if it worked.

[2018-04-14 12:14] abhilash07 commented on #50
@krishnasrinivas thanks for the info can you please let me know on which IaaS did you deploy (AWS, Azure or Openstack etc.)

[2018-04-16 09:01] abhilash07 commented on #50
@krishnasrinivas i deployed on azure using both 3468.17 and 3468.30 but i am facing same error.

How can we know the on-demand-service-broker support the exact stemcell, i mean any documentation ???

Thanks in Advance

[2018-04-18 17:24] krishnasrinivas commented on #51
Thanks @abhilash07

[2018-04-19 20:51] krishnasrinivas commented on #50
@abhilash07 we are in touch with Pivotal for this issue. They are exploring if this is an issue with Pivotal on Azure.

[2018-04-20 07:13] abhilash07 commented on #50
@krishnasrinivas i solved the problem. thanks for your suggestions.

I am curious, did you try minio on-demand-service-broker & adapter deployment on open source cloud foundry ???

Thanks in advance.

[2018-04-20 17:35] kannappanr commented on #55
@CAFxX  Thanks for contacting us. We will be closing this issue as won't fix.

[2018-04-20 17:35] #55 closed

[2018-04-25 05:26] krishnasrinivas commented on #50
@abhilash07 no, do you think it will be useful?

[2018-04-25 13:01] abhilash07 commented on #50
@krishnasrinivas yes it is much waited service. Becuase upto now there are many storage services, but minio is the best sollution up to now. Because of tenant, ha? Zerodowntime features. Moreover minio is much needed backend services for cf applications

[2018-04-25 18:17] krishnasrinivas commented on #54
@CAFxX did the cluster become unavailable when you shutdown the current node? did you simulate a VM crash situation or did you use "shutdown" command to issue a proper shutdown?

[2018-04-26 00:39] krishnasrinivas commented on #49
done

[2018-04-26 00:39] #49 closed

[2018-04-30 04:04] CAFxX commented on #54
scenario1: 6 node minio cluster on 3 AZ; kill the 2 minio nodes in AZ3; do a `bosh recreate minio` (or alternatively, cause bosh to do a rolling redeploy of the minio cluster); as soon as bosh stop the first node in AZ1 the minio cluster goes from N/2+1 to N/2 active nodes, thereby going into read-only mode

scenario 2: 6 node minio cluster on 3 AZ; kill the 2 minio nodes in AZ3 and 1 in AZ2; do a

[2018-04-30 08:59] abhilash07 commented on #5
@rkoster thanks for you post, it is most needed and waited service for CF,
I am trying to configure minio object storge i found your post, https://github.com/cloudfoundry/cf-deployment/pull/132, is there any update on you testing.

i have curio, did we want to change any source code in open source cloud_controller_ng, fog_client ???

[2018-04-30 13:44] rkoster commented on #5
@abhilash07 I have not used minio with cf recently, but nothing should prevent you from testing the ops-file from the linked PR.

[2018-04-30 17:41] krishnasrinivas commented on #54
Got it. Thanks for the explanation. We'll add a drain script.

[2018-04-30 17:55] krishnasrinivas commented on #54
@CAFxX  Looks like, in future, there will be no way to stop the bosh from stopping the local node if there cluster is going to be unavailable?

[2018-04-30 18:06] giner commented on #54
@krishnasrinivas, we can keep drain running as long as we need, so it's not a problem.

[2018-04-30 18:46] krishnasrinivas commented on #50
@abhilash07 can you open a new issue for that please?

[2018-04-30 21:49] krishnasrinivas commented on #54
@giner @CAFxX will the following script work for you guys?

[code]

[2018-05-01 23:55] abhilash07 commented on #5
@rkoster thanks for your response

[2018-05-02 00:00] abhilash07 opened #64 "Minio adapter for Cloud Foundry application data"
Hi everyone is there any roadmap  to develop Minio Service Adapter  for Open Source Cloud Foundry Application Data. (#50 )

I have noticed PCF is developed, and make it as General Availability. (https://docs.pivotal.io/partners/minio/architecture.html). I think We can use it on OS Cf also.

Any Suggestioons please  ???

[2018-05-02 20:51] CAFxX commented on #54
@krishnasrinivas the drain script is a failsafe: it's purpose is:
- to try bring the deployment to a point where doing the deploy operation is not "unsafe"
- to warn the operator "you're doing something that may be unsafe for your deployment"

For example, in production we have a kafka cluster whose drain script:
- checks if replication is in sync, if it is not it triggers a healing operation
- if

[2018-05-02 21:12] krishnasrinivas commented on #64
If you know more users who want this and if they can comment on this issue to let us know it will be easier to prioritize the issue.

[2018-05-04 05:37] abhilash07 commented on #5
@rkoster, i have tried minio for cf blobstore. But unfortunately i encountered below error.

![screen shot 2018-05-04 at 2 25 36 pm](https://user-images.githubusercontent.com/10971841/39614047-83d0d27a-4fa7-11e8-98c3-a2ced4c3be6c.png)

[cf-deployment.txt](https://github.com/minio/minio-boshrelease/files/1973336/cf-deployment.txt)
[deployment-vars.txt](https://github.com/minio/minio-boshrelease/fil

[2018-05-04 05:43] abhilash07 commented on #5
@krishnasrinivas did you tried Minio Blobstore for cloud foundry blobstore ???

[2018-05-04 05:56] abhilash07 commented on #64
@krishnasrinivas, sure. But i think we don't need development of Minio adapter for Cloud Foundry application data.

Because pivotal released minio tile on General Availability license. We can use the same adapter.

[2018-05-07 11:14] poblin-orange opened #65 "seeding buckets"
data related bosh-release usually offer the ability to seed database at bosh deploy time.

Adding spec to minio jobs to automatically create bucket would be very usefull (avoids users to use another automation tool to complete the minio bosh deployment), with minio related ACL configuration.
see this example : https://github.com/cloudfoundry/postgres-release/blob/develop/jobs/postgres/spec#L45

[2018-05-07 17:49] krishnasrinivas commented on #65
Looks like a useful feature.

[2018-05-08 04:58] abhilash07 opened #66 "scaling up and down error"
hi i am deploying this release in bosh but when i deployed  (https://github.com/minio/minio-boshrelease/blob/master/manifests/manifest-dist-example.yaml) 1 and scale UP to 4 hosts occurring below error.

[minio-server.stdout-1~4.log](https://github.com/minio/minio-boshrelease/files/1982335/minio-server.stdout-1.4.log)

when i deployed using (https://github.com/minio/minio-boshrelease/blob/master/m

[2018-05-08 06:04] harshavardhana commented on #66
@abhilash07 you cannot add disks/nodes to existing deployments.

[2018-05-08 06:27] abhilash07 commented on #66
@harshavardhana thanks for your responce i can attach disk, if i scale up for example (1~4) or (4~8) or (8~12) i am getting above errors.
As we know in bosh if we make changes for one instance it will update all the respective instances, in that case minio erasure algorithm has some problem to upfate.
But i am not sure, becuase i am new to minio.
Thanks in advance.

[2018-05-08 06:35] abhilash07 commented on #66
@harshavardhana, when we scale UP the minio instances bosh will update from 1 instance to 4rth instance. I think minio erasure algorithm is trying to format instance1 disk which is already running erasure deployment.

[2018-05-09 00:08] abhilash07 commented on #66
as discussed in https://github.com/minio/minio/issues/5901 minio can't scale up and down in existing deployment by its design.

as i checked deploying multiple deployment servers and attaching to LB is not bad idea.
 https://www.nginx.com/blog/enterprise-grade-cloud-storage-nginx-plus-minio/
But i am thinking is data synchronisation possible between multiple deployment minio servers with LB ???

A

[2018-05-09 00:35] krishnasrinivas commented on #64
Are you saying you can use the Pivotal tile on open source Cloud Foundry? In that case should we close this issue?

[2018-05-09 00:40] krishnasrinivas commented on #66
You can refer to this doc https://docs.minio.io/docs/minio-client-complete-guide#mirror for mirroring data between two minio deployments.

Closing this issue.

[2018-05-09 00:40] #66 closed

[2018-05-09 00:42] krishnasrinivas commented on #45
https://github.com/minio/minio-boshrelease/commit/8c4d1c262beb5e9acfc0c9eb657565e4231bc8dc

[2018-05-09 00:42] #45 closed

[2018-05-09 00:43] krishnasrinivas commented on #18
make-release.sh is now available in project source.

[2018-05-09 00:43] #18 closed

[2018-05-09 00:57] abhilash07 commented on #64
@krishnasrinivas, yes you're right, i think we can close this issue

[2018-05-09 00:57] #64 closed

[2018-05-10 09:34] bgandon opened #67 "Add an entry in Github 'releases' section for each final releases"
Hi,

Could you please add an entry in the [releases](https://github.com/minio/minio-boshrelease/releases) section for the latest final BOSH release that has been cut `2018-04-27T23-33-52Z` and any upcoming subsequent releases?

The BOSH community usually adds one entry in the 'releases' section for each final release [listed on BOSH.io](https://bosh.io/releases/github.com/minio/minio-boshrelease?a

[2018-05-10 18:41] patrickcrocker commented on #67
I'm a big fan of tracking everything in a [changelog](https://github.com/nulldriver/cf-cli-resource/blob/master/CHANGELOG.md) and then using a pipeline to [parse and publish](https://github.com/nulldriver/cf-cli-resource/blob/master/pipeline.yml#L81) the release notes to github.

[2018-05-11 00:11] krishnasrinivas commented on #67
@bgandon @patrickcrocker Since we put the change-log/release-notes here https://github.com/minio/minio/releases, we were not duplicating the information here.

But looks like it will be useful to duplicate the information on https://github.com/minio/minio-boshrelease/releases as well as minio-bosh users tend to look at minio-boshrelease repo for change log information. We will do it from the next

[2018-05-15 06:37] bgandon commented on #67
Using a CHANGELOG.md that is parsed by some automation is great indeed!

Yes indeed, duplicating the info would be perfect.
In the meanwhile, could you just edit existing releases of this minio BOSH release and add a pointer to the relevant minio daemon release notes? Thank you!

[2018-05-15 21:36] bgandon commented on #67
Also, the following versions of the BOSH Release have no Git tags:

- 2018-01-18T20-33-21Z
- 2018-02-09T22-40-05Z
- 2018-03-12T21-25-28Z
- 2018-03-19T19-22-06Z
- 2018-04-19T22-54-58Z
- 2018-04-27T23-33-52Z

It would be nice to push some tags so that they appear in [minio-boshrelease/releases](https://github.com/minio/minio-boshrelease/releases).

[2018-05-17 00:32] abhilash07 opened #68 "Error: Unable to load config version: '23'."
hi i want to deploy minio-server on 4 hosts with single disk. I used (https://github.com/minio/minio-boshrelease/blob/master/manifests/manifest-dist-example.yaml) distributed deployment.

And i want to change storageclass.standard  (EC:3) && storageclass.rrs (EC:1) i followed below this https://docs.minio.io/docs/minio-server-configuration-guide.

But unfortunately i encountered this error.
Error:

[2018-05-21 18:36] kannappanr commented on #68
@abhilash07 Did you resolve the issue? Looking from the error, it looks like the config file on the system is newer than the one supported by the minio server. You can either upgrade to the latest version of minio or remove the config file, so that it can generate it again.

[2018-05-24 23:51] abhilash07 commented on #68
@kannappanr thanks for your responce, i will try and let you know.

Regards

Abhilash S

[2018-05-25 07:27] abhilash07 commented on #68
@kannappanr thanks for your information,, i used minio version = 2018-05-16T23-35-33Z and config version = 23 it works. I am closeing the error.
[config.txt](https://github.com/minio/minio-boshrelease/files/2038382/config.txt)

[2018-05-25 07:27] #68 closed

[2018-05-25 08:20] abhilash07 opened #69 "Unable to load the configuration file"
Hi after clearing error #68 i configured standard storage and Reduced redundancy storage (rrs), but i get below errors

1) 6 vm deployment 1 disk respectively standard storage = 4 rrs = 2
Error:
Unable to load the configuration file: Standard storage class parity 4 should be less than or equal to 3.

2) 4 vm deployment 1 disk respectively Standard storage = 4 rrs = 0
Error
Unable to load the confi

[2018-05-25 20:58] kannappanr commented on #69
@abhilash07 Please refer to `Storage Class` section in https://docs.minio.io/docs/minio-server-configuration-guide , https://blog.minio.io/configurable-data-and-parity-drives-on-minio-server-2a34cd49c1b5 and  https://github.com/minio/minio/blob/master/docs/erasure/storage-class/README.md .

As far as your questions are concerned,
1. Is minio can support only Standard storage by disbaling Reduced r

[2018-05-25 23:29] abhilash07 commented on #69
@krishnasrinivas thanks for your quick response. But unfortunately i already read your above documentation and articles. So i stated testing i encounter above errors. After thinking and referring above doc and articles parity disks will support for only 16 disks if i am not wrong  ???.

Thanks in advance

Abhilash S

[2018-05-25 23:47] kannappanr commented on #69
@abhilash07
In the first scenario, the standard storage cannot be greater than 3, just as the error suggests.
`6 vm deployment 1 disk respectively standard storage = 3 rrs = 2`

 It is the same with the second setup, it cannot be greater than 2 (N/2).
`4 vm deployment 1 disk respectively Standard storage = 2 rrs = 0`

In the third scenario, parity
`4 vm deployment 1 disk respectively Standard stor

[2018-05-28 11:04] abhilash07 commented on #69
@kannappanr, thanks for you explanation, Now i understand i will test and  update the status.

Thanks in Advance

Abhilash S

[2018-05-29 00:51] abhilash07 commented on #69
@kannappanr, i think in minio two should be considered in high priority.

1) Scaling the existing Minio server deployment. (For example if we deploy 4vm Minio server, there should be production case where we have to scale up-to 12 VMs with each disk respectively). Because in Cloud infrastructure scaling plays a keys role.

2) Second one, there should be flexibility in selecting Standard storage an

[2018-05-29 00:51] #69 closed

[2018-05-29 03:37] krishnasrinivas commented on #69
It is flexible @abhilash07 you can set it through the env vars:
[code]

as explained in the blog https://blog.minio.io/configurable-data-and-parity-drives-on-minio-server-2a34cd49c1b5

[2018-05-29 07:17] harshavardhana commented on #69
As explained by @krishnasrinivas it is configurable but 4 disks have little room for such experiments, as you can see we do not allow incorrect configurations as it is our intention to error on user mistakes which might lose your data.

As for scalability Minio is designed to be scalable in deployment units, basically if you want to increase the number of nodes simply start another set of machines

[2018-05-30 14:16] ljfranklin opened #71 "Can't build dev releases on minio"
## Steps to reproduce

1. `git clone https://github.com/minio/minio-boshrelease`
1. `cd minio-boshrelease`
1. `bosh create-release`
1. See error similar to the following:

[code]

## Fix

The minio package spec file wants the following blob:

[code]

If you download that file and run `bosh add-blob` then `bosh upload-blobs`, BOSH will add a blobstore ID (in `config/blobs.yml` I think) so that this

[2018-05-30 18:09] ljfranklin opened #74 "Can't scale from 1 node to 4"
While testing or for cost reasons, it's often useful to start with a small 1 node deployment and scale to 4 nodes once things are working. However, we're hitting an error message while scaling up. We can successfully deploy with 1 node, but when we change to `instances: 4` in our manifest and re-deploy, the first node fails to deploy with:

[code]

Is this a supported workflow in Minio or possibly

[2018-05-30 18:20] krishnasrinivas commented on #74
This is an expected behavior @ljfranklin Minio should be initialized and used as a static unit set. Minio took this approach to build for very large scale. design philosophy is to build many small manageable units rather than one giant monolithic distributed unit.

[2018-05-30 19:11] ljfranklin commented on #74
@krishnasrinivas good to know, thanks for the quick response! Closing this out as things are working as intended.

[2018-05-30 19:11] #74 closed

[2018-06-08 03:01] #71 closed

[2018-06-08 03:01] harshavardhana commented on #51
Fixed by #70

[2018-06-08 03:01] #51 closed

[2018-06-08 03:13] krishnasrinivas commented on #65
https://docs.pivotal.io/tiledev/1-12/tile-errands.html

@poblin-orange https://github.com/minio/minio-boshrelease/blob/master/manifests/manifest-fs-example.yml check for bucket-seeding instance group.

[2018-06-08 18:00] #65 closed

[2018-06-08 20:22] krishnasrinivas commented on #67
We have added the release details for the latest release.

[2018-06-08 20:22] #67 closed

[2018-06-13 20:00] penrod opened #77 "Minio update 2018-04-27T23-33-52Z to 2018-06-08T03-49-38Z ... web-ui storage not calculated"
Updated minio boshrelease from 2018-04-27T23-33-52Z to 2018-06-08T03-49-38Z. The backend storage is nfs, so we are running minio-nas.

Pre-update the released would show storage capacity used and capacity available at the top of the web-ui.

Post-update the capacity at the top shows  "Used: 0.00 PB"

All other functions are working as expected (file write/read, create/delete, etc)

We only updated

[2018-06-13 20:56] harshavardhana commented on #77
This is on purpose @penrod we deprecated the total/free which was at disk level to per tenant total used. Total used is like `du` per Minio cluster.  If you have a lot of data it might take some time for this to be calculated.

[2018-06-14 04:15] CAFxX commented on #54
@krishnasrinivas gentle ping to know what you think about what I wrote above

[2018-06-14 16:31] penrod commented on #77
Interesting. I may have something in my configuration that is not allowing that to work correctly. The value shows 'Used: 20.05 KB' even though I have over 6 GB of files on it. Adding new files does not change the usage value.

[2018-06-14 17:01] harshavardhana commented on #77
New files don't get updated, the usage check runs every 12 hrs.

[2018-06-15 17:42] kannappanr commented on #77
@penrod Closing this issue as answered. Please feel free to reopen the issue if you feel otherwise.

[2018-06-15 17:42] #77 closed

[2018-06-17 22:17] krishnasrinivas commented on #54
@CAFxX sure we can have the drain script, can you check the drain script that I have posted above and see if it makes sense? i.e restart of the cluster is allowed if atleast N/2 nodes are up (to have atleast read access)

[2018-06-17 23:38] CAFxX commented on #54
Great to hear it

It looks like it should work, as a first level of protection. Correct me if I'm wrong but this would only check if all disks are up, not whether all objects are replicated. I understand some users may not be interested in this stronger guarantee, so how about adding something along these lines after the check for the number of disks:

[code]

[2018-06-18 08:30] poblin-orange commented on #65
@krishnasrinivas very nice :-) thks

[2018-06-18 17:13] bgandon commented on #67
Thank you!

[2018-07-10 13:12] gberche-orange opened #83 "Add health checks in monit script"
https://github.com/minio/minio/blob/master/docs/metrics/healthcheck/README.md#readiness-probe mentions

Currently the monit script seems to only check the process is up
https://github.com/minio/minio-boshrelease/blob/master/jobs/minio-server/monit

It would be great to have it restart, (and accidentally as a side effects this would generate a bosh health manager alert to operators)

[2018-07-19 01:05] dlinsley opened #85 "Changing credential in manifest does not change running config of minio-server on subsequent deploy"
Seen in release "2018-07-10T01-42-11Z"

Initial deployment using sample manifest (manifests/manifests-fs-example.yml) works great.

If I modify the credential property (accesskey /secretkey) of minio-server job and deploy again, the change isn't realized.

BOSH CLI recognized the change and prompts for confirmation.  Running service still using original credentials.

Tried issued a recreate VMs co

[2018-07-19 07:13] poornas commented on #85
@dlinsley, running minio instance needs to be restarted for credential change to take effect. which version of the BOSH CLI tool are you using? Did you do a bosh deploy --recreate or bosh recreate JOB [INDEX]

[2018-07-19 18:21] poornas commented on #85
@dlinsley , as a workaround you could update the credentials via  minio web browser [ui](https://docs.minio.io/) by clicking on settings and Change Password.  We will get back to you on being able to modify credentials via deployment manifest.

[2018-07-19 18:59] dlinsley commented on #85
@poornas Yes, as an attempted workaround I issued a `bosh recreate` which recreated the VM.  The credentials remained the same.

I also tried a `bosh stop GROUP` and a `bosh start GROUP` but still did not observe the credential change.

[2018-07-19 19:03] krishnasrinivas commented on #85
@dlinsley recreating the VM would not be desirable for you. Easy way to change the credentials is using the web-ui minio browser. The UI can be accessed at "http://minioIP:9000/"

[2018-08-23 11:20] teddyking opened #90 "smoke-tests errand fails if credential.secretkey contains a #"
We deployed minio using the sample manifest [here](https://github.com/minio/minio-boshrelease/blob/master/manifests/manifest-fs-example.yml), with `credential.secretkey` that included a `#`. When we tried to run the smoke-tests errand, it then failed with the following:

[code]

The errand also reported as `Succeeded`. We think this is because [this env var](https://github.com/minio/minio-boshrele

[2018-08-24 18:53] kannappanr commented on #90
@teddyking Thanks for filing this issue. The script should have url encoded the secret key and access key if it is allowed. We will fix it on our end so that `#` is now handled.

[2018-09-04 18:16] krishnasrinivas commented on #90
Keeping it open till mc is updated in the bosh-release pacakge

[2018-10-11 20:53] alexw19 opened #103 "Unable to specify mount params for nfs"
We're using a Dell EMC Data Domain for our nfs and it requires these specific parameters for us to be able to connect minio to it:

mount -t nfs -o nolock,vers=3,sync

If we don't have these options enabled, the minio gateway nas timeouts when it attempts to mount nfs.

Is there a way to integrate nfs mount options into this bosh release?

[2018-10-12 04:18] krishnasrinivas commented on #103
@alexw19 can you try with:
mount -t nfs -o local_lock=all,vers=3,sync

[2018-10-12 15:24] gberche-orange commented on #50
@krishnasrinivas is there a public repo for the ODB service adapter code, that could enable use this service on a CF OSS setup (along with a minio enterprise license)? Currently I only found the binary PCF tile in https://network.pivotal.io/products/minio and an early broker skeleton on https://github.com/krishnasrinivas/minio-service-broker

[2018-10-15 05:05] krishnasrinivas commented on #50
@gberche-orange Here: https://github.com/minio/minio-boshrelease/issues/64 it was mentioned that the PCF tile itself can be used for open-source CF, is that the case? If not what does it take to author a tile for Open Source CF? If the service adapter is open source, how can you fix it to make it work with open source CF?

[2018-10-19 11:18] gberche-orange commented on #50
@krishnasrinivas

There is no concept of a tile for CF oss. OSS operators would use bosh to deploy the ODB release and the adapter. See for example https://github.com/pivotal-cf-experimental/redis-example-service-adapter-release#setting-up-the-redis-adapter-with-the-on-demand-service-broker redis sample and associated manifest.

For minio adapter to be useable to the CF OSS community, the easiest

[2018-10-23 16:18] #90 closed

[2018-10-25 06:42] krishnasrinivas commented on #50
@gberche-orange https://github.com/minio/minio-pcf-adapter is the service adapter. Will you be able to help on documenting how it can be deployed on the opensource CF? We do not have much experience with CF internals.

[2018-10-31 23:18] alexw19 commented on #103
I tried writing my own nfs bosh release with that command and that seemed to not work.
I'm getting this error:
Mounting NFS...
[2018-10-31 23:10:16+0000] mount.nfs: timeout set for Wed Oct 31 23:12:16 2018
[2018-10-31 23:10:16+0000] mount.nfs: trying text-based options 'local_lock=all,vers=3,addr=192.158.58.152'
[2018-10-31 23:10:16+0000] mount.nfs: prog 100003, trying vers=3, prot=6
[2018-10-31 2

[2018-11-06 21:37] #85 closed

[2018-11-09 21:08] krishnasrinivas commented on #103
@alexw19 sorry misunderstood the issue, would you like to send a PR to enable options for nfs? If you don't have time, I can send a PR.

[2018-11-12 17:24] gberche-orange commented on #83
sorry @krishnasrinivas my initial issue description was hard to read. I edited, hoping to make it more understandeable.

Actually, I'm suggesting to have the monit script to poll for `/minio/health/live` endpoint *in addition* to the PID file.

Here is an example of similar probe in the CF CC_ng
https://github.com/cloudfoundry/capi-release/blob/cbdd3a1bbd2d30379bbb5751fafa6bcc948e661e/jobs/cloud_c

[2018-11-12 20:15] krishnasrinivas commented on #50
@gberche-orange you can catch us on slack.minio.io too if it is convenient for you. Closing this issue.

[2018-11-12 20:15] #50 closed

[2018-11-12 23:38] krishnasrinivas commented on #103
@alexw19 do you use nfs_mounter from the capi release? in which case you have to submit a bug in https://github.com/cloudfoundry/capi-release/blob/develop/jobs/nfs_mounter
minio-release does not have a job to mount nfs mount points.

[2018-11-13 16:02] alexw19 commented on #103
Yes. I'll submit an issue there then. Thanks.

[2018-11-15 02:36] #103 closed

[2018-12-13 04:12] labrown opened #115 "Doublequote evaluating secret key with $ at beginning."
We just encountered a problem upgrading to a recent version of the minio bosh-release (2018-11-17) where a secret key that started with a $ caused minio-server job to fail to start.

I believe the line at https://github.com/minio/minio-boshrelease/blob/master/jobs/minio-server/templates/ctl.erb#L40 is caused our secret key that began with a $ to be evaluated as a shell variable.  Doublequote varia

[2018-12-27 10:20] brightzheng100 opened #117 "Is Minio compatible with Xenial?"
I added a simple ops file to update the manifest by using `xenial` stemcell and sounds it works as well.

[code]

As Trusty is going to retire very soon so I appreciate if you guys can help to perform a thorough test and confirm that. Thank you!

[2019-01-21 13:40] Klojo opened #118 "https is giving errors in monit"
Hello

for security reasons we must switch form http:// to https://
can you help us to resolve this issue.

Minio Deployment
Name                               Release(s)                     Stemcell(s)
minio-backup-writer        capi/1.75.0                   bosh-vsphere-esxi-ubuntu-trusty-go_agent/3586.67
                                         minio/2019-01-16T21-44-08Z

Start Minio Bosh Deplo

[2019-01-23 11:14] gmrodgers commented on #118
Hey @poornas and @kannappanr,

We are experiencing the same issue when we consumed the latest version of these release.  It is currently breaking our pipeline. We get the same error output and here is the monit file that is templated:

[code]

Feel free to reach out to us if you need more info.

Thanks,
@terminatingcode and Glen

[2019-01-23 16:39] Proplex commented on #118
We're also experiencing this issue; as a result the deploy fails because Monit never brings up the BOSH agent.

[code]

[code]

Using Xenial stemcell 170.23, Minio bosh release 2019-01-16T21-44-08Z

[2019-01-24 01:16] krishnasrinivas commented on #117
@brightzheng100 minio is compatible with Xenial, actually since minio is written in Go it is statically compiled without any external dependency.

[2019-01-24 01:16] #117 closed

[2019-01-24 02:37] brightzheng100 commented on #117
Great you've confirmed at this @krishnasrinivas
Actually I've using Xenial for `minio-boshrelease` for a while and it works perfectly well so far.

Will send a PR accordingly soon.

[2019-01-26 18:53] #118 closed

[2019-04-04 23:13] kdykeman opened #122 "'mc' and 'minio' blob names should have a version in blobs.yml"
Blobs can really be given any arbitrary name, but that makes it hard to track it's origins (src and version), and without the name containing a clear reference to name and version of the dependency, it's very difficult to programmatically map back to the source. In other words, the current blob names require that somebody:

1. look for a good comment in the commit history
2. manually compare shasu

[2019-05-02 03:14] BrianRagazzi opened #123 "minio-nas does not support tls properties"
Unlike the minio-server job spec, the minio-nas job spec does not include server_cert, server_key & ca_cert values.  As a result, a BOSH-deployed Minio NAS gateway ignores these params and runs in http only.  Please add support for the tls properties to the minio-nas job.

[2019-05-07 22:34] krishnasrinivas commented on #122
@kdykeman Could not understand the exact problem (maybe because we dont try to do what you are trying to do), can you tell us how the issue you are facing can be fixed? maybe point to a sample project which is doing what you want us to do?

[2019-07-16 05:47] Muruganfly03 opened #124 "Minio minio/2018-04-27T23-33-52Z & minio/2018-11-22T02-51-56Z Support Xenial Stemcell."
Hi Team,

I am using minio/2018-04-27T23-33-52Z and minio/2018-11-22T02-51-56Z in our environment which is using stemcell -
bosh-vsphere-esxi-ubuntu-trusty-go_agent/3541.34

Kindly confirm whether minio/2018-04-27T23-33-52Z and minio/2018-11-22T02-51-56Z  version support Xenial stemcell?
And also confirm from which version onwards it will start supporting Xenial stemcell?

[2019-08-06 00:07] krishnasrinivas commented on #124
@Muruganfly03 yes all minio versions support xenial/trusty since Minio is compiled using Go everything is statically built into a single binary.

[2019-08-06 00:08] #124 closed

[2020-01-16 19:31] mymasse opened #131 "mc blob is out of date"
We tried using the mc job to pre-create our buckets and our users/policies and it failed with the following error:

`mc <ERROR> Cannot add new policy Server expects client requests with 'admin' API version 'v2', found 'v1', please upgrade the client to the latest releases`

From the commit to the repo we can see that the minio blob gets updated frequently but the mc blob hasn't received an update

[2020-01-17 12:39] mymasse commented on #131
Just confirmed when using bosh release `2020-01-16T22:40:29Z` the mc version packaged with it is `2018-10-18T00:40:05Z`

[2020-01-17 17:46] krishnasrinivas commented on #131
@mymasse thanks for letting us know, we will update the `mc` binary.

[2020-01-18 02:39] #131 closed

[2020-01-27 13:57] mymasse opened #133 "Smoke test fails to run on the latest release"
When running the `smoke-test` errand we get

[code]

This is probably related the to update of the mc package ( #131)

Note that running the `mc` errand also produces similar output.

[2020-01-27 15:11] kannappanr commented on #133
Yes, it is

[2020-01-27 22:29] #133 closed

[2020-02-14 03:58] mxplusb opened #135 "Smoke tests do not properly fail with TLS enabled"
With this deployment configuration
[code]
The smoke tests give a false positive result, failing even when the bosh errand succeeds.
[code]

[2020-02-19 20:00] poornas commented on #135
This should be fixed by https://github.com/minio/minio-boshrelease/pull/109 which is under review.

[2020-02-20 16:53] mxplusb commented on #135
@poornas can you update #109 with the state of it's review so the author knows?

[2020-07-15 13:56] o-orand opened #146 "Cannot access to blobs"
Hi !
I've tried to recreate the release, but it seems blobs are not readable. See error below:

[code]

I'm using this `bosh --non-interactive --json create-release --final --tarball='../minio-2020-06-18T02-2335Z.tgz' releases/minio/minio-2020-06-18T02-23-35Z.yml` to recreate the bosh release.

Is it possible to fix ACL ?
Thanks !

[2020-10-20 15:24] mchudinov opened #151 "How to run distributed MinIO with TLS enabled?"
How to run distributed MinIO with TLS enabled using self signed certificates generated by Bosh ?
I have 4 MinIO instances deployed using Bosh release. Instances can not connect to each other because of certificate issue.
This is error log from one of the instances:
[code]

[2020-10-20 15:37] klauspost commented on #151
MinIO does not provide any Bosh setup. We cannot provide support for that, even if your post included the relevant information.

Feel free to ask the community for help [on slack](https://slack.min.io/) or check if the Bosh community can help you.

[2020-10-20 22:27] mchudinov commented on #151
After searching the internet for a couple of hours I have found that **dns_alias** option can help.
When the **dns_alias** option is set, the following new errors come out:
[code]
How to solve this?

Here is how I generate certificates for MinIO with Bosh:
[code]

The **minio_certificate** certificate should be generated with SAN as soon as **alternative_names** option is in use in Bosh.
What is w

[2020-11-02 11:09] maximhan opened #153 "Add support for KES Server"
The current MinIO BOSH release does not (properly) support integrating with the new KES Server, which is now the recommended implementation for MinIO deployments that want to use a KMS, with the direct Vault implementation now been deemed as "legacy".

**Relevant documentation**:
https://blog.min.io/introducing-kes/
https://docs.min.io/docs/minio-kms-quickstart-guide.html
https://github.com/minio/

[2020-11-02 11:13] maximhan commented on #153
We've started on an implementation here, and will raise a PR once internal testing is done, unless there is something already in the works at MinIO.

[2021-04-21 20:54] #151 closed

[2021-04-21 20:57] mchudinov opened #160 "Does MinIO bosh release support distribution across multiple zones?"
Does MinIO Bosh release support distribution across multiple Bosh availability zones?

[2021-04-22 15:27] mchudinov opened #161 "Error after increasing number of nodes in a distrbuted MinIO Bosh deployment"
There is a distributed Bosh MinIO deployment quite similar to what is defined in this repository example `manifest-dist-example.yml`.

After the number of nodes is increased from 4 to 6 and redeployment the first MinIO (node number 0) is in `failing` state.

The following error message is shown in   `/var/vcap/sys/log/minio-server/minio-server.stdout.log`:

[code]

The following update strategy is

[2021-04-26 14:32] mchudinov commented on #161
Updates do not work either with `create-swap-delete` strategy. Same error with and without `serial: true`

The existing MinIO node 0 comes to a failing state while two new VMs are not yet started.

The screenshot shows a cluster after update from 4 to 6 nodes using the following update strategy:

[code]
![Bosh-20210426-142219](https://user-images.githubusercontent.com/2603415/116099949-c1be6c00-a6

[2021-06-22 20:24] krishnasrinivas commented on #161
@mchudinov Adding of nodes to an existing deployment is not supported in the minio boshrelease.

[2021-06-22 20:24] #161 closed

[2021-06-22 20:31] krishnasrinivas commented on #146
works for me:

[code]

BTW you can download the bosh releases from here: https://bosh.io/releases/github.com/minio/minio-boshrelease?all=1

[2021-06-22 20:31] #146 closed

[2021-06-22 20:32] krishnasrinivas commented on #160
Yes @mchudinov typically the CF deployment will have 3 AZs. You can create minio cluster with 6 VMs : 2 in each AZ. You can specify the AZs in the manifest file.

[2021-06-24 20:01] #160 closed

[2022-01-26 15:41] mymasse opened #169 "Can the `mc` blob be updated to a newer version"
Not running into a specific issue but using `mc` from February 2021 seems a bit old.

Shouldn't these be auto-bumped in the repo? I wouldn't create a release but at least when MinIO itself gets auto-bumped it would include the latest `mc`.

[2022-01-27 19:36] mymasse commented on #169
OK finally got to deploy the new version of bosh release and tried running the smoke-test errand and this failed with the following error:

[code]

[2022-03-30 18:39] mymasse opened #170 "Latest MinIO Bosh release on bosh.io is 2022-02-17T23-22-26Z"
It seems like bosh release have not been pushed to bosh.io since the 2022-02-17T23-22-26Z release.

[2022-04-14 06:46] krishnasrinivas commented on #170
bosh.io will create release from the next minio release.

For now, you can do `bosh create-release --tarball=minio-release.tgz releases/minio/minio-2022-04-12T06-55-35Z.yml`

[2022-04-14 06:46] #170 closed

[2022-04-14 06:47] krishnasrinivas commented on #169
Updated mc. You have to wait for the next minio bosh release

[2022-04-14 06:47] #169 closed

[2022-05-02 16:48] mymasse opened #173 "Smoke tests fail to run with RELEASE.2022-04-30T22-23-53Z"
Running smoke tests with RELEASE.2022-04-30T22-23-53Z fails with the following error:

[code]